<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Please Continue!</h1>
    <form action="/mission_browser2" id="continue" method="get"> <br>
            <input type="submit" name="continue" value="Press to Continue"> <br>
        </form>
  </div>
</div>

</body>
</html>
