<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Edit Profile</h1>
  </div>
</div>

<div class="row">
		
		<div class="col-xs-12 text-center">
			<a  href="/mission_browser" class="big_button row text-center">
		<h1>
			Change Picture 
		</h1>
		</a>
		<br><br><br>

		<div class="col-xs-6 text-center">
			<h3 class="col-xs-6 text-center" >Username</h2>
			<input id="user" type="text" name="username" ><br><br>
			<hr>
			<h3 class="col-xs-6 text-center" >New Username</h2>
			<input id="user" type="text" name="username" ><br><br>
			<hr>
			<h3 class="col-xs-6 text-center" >Password</h2>
			<input id="password" type="password" name="password"><br><br>
			<hr>
			<h3 class="col-xs-6 text-center" >New Password</h2>
			<input id="password" type="password" name="password"><br><br>
			<hr>
			
		</div>

		<div class="col-xs-12 text-center">
			<a  href="/mission_browser" class="big_button row text-center">
		<h1>
			Save Changes  
		</h1>
		</a>

	</div>

</body>
</html>
