<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
  </div>
</div>
<div class="container">
	<a  href="/mission_browser" class="big_button row text-center">
		<h1>
			Find Mission
		</h1>
	</a>
	<div class="row">
		<img src=<%= user_img %> class="col-xs-4">
		<div class="col-xs-8 text-center">
			<h2 class="row">Welcome, <%= user_name %>!</h2>
			<hr>
			<a href="/stats" class="text-center">Stats</a>
			<hr>
			<a href="/leaderboards" class="text-center">Leaderboards</a>
			<hr>
			<a href="edit_profile" class="text-center">Edit My Profile</a>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="row">
			<h2 class="col-xs-7">Inventory:</h2>
			<h2 class="col-xs-5 right">My Friends:</h2>
		</div>

		<div class="col-xs-6 text-center">
			<div class="col-xs-10 scrollbox">
				<div class=row>
					<img src="https://images-na.ssl-images-amazon.com/images/I/41A9hXOPUSL._SY300_.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Binoculars</h3>
				</div>
				<hr>
				<div class=row>
					<img src="https://a2ua.com/rope/rope-004.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Rope</h3>
				</div>
				<hr>
				<div class=row>
					<img src="http://images.clipartpanda.com/magnifying-glass-detective-magnifying-glass-flipped.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Magnifying Glass</h3>
				</div>
				<hr>
				<div class=row>
					<img src="http://garak.wimp.com/images/sthumbs/2014/12/83f93610d3e481c4a7a727723c332162_story.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Tattered Notebook</h3>
				</div>
				<hr>
				<div class=row>
					<img src="http://blog.noahwild.com/wp-content/uploads/2010/09/iStock_000005813598Medium2.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Dog Treats</h3>
				</div>
			</div>
		</div>

		<div class="col-xs-6 text-center">
			<div class="col-xs-10 scrollbox right">
				<div class=row>
					<img src="https://www.wikitree.com/photo.php/7/7a/JohnHancockSmall.jpeg" class="col-xs-4">
					<h3 class="col-xs-6">John Hancock</h3>
				</div>
				<hr>
				<div class=row>
					<img src="http://a5.files.biography.com/image/upload/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTE5NTU2MzE2MzM3NTcxMzM5.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Tom Pain</h3>
				</div>
				<hr>
				<div class=row>
					<img src="https://lh5.googleusercontent.com/-WI_pzp6roI4/AAAAAAAAAAI/AAAAAAAAADw/w6-4-7KBpaA/photo.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Brandon Babilonia</h3>
				</div>
				<hr>
				<div class=row>
					<img src="https://yt3.ggpht.com/-h1NF3W-Kjrk/AAAAAAAAAAI/AAAAAAAAAAA/9-91DiSNlQk/s900-c-k-no-rj-c0xffffff/photo.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Willie Valdez</h3>
				</div>
				<hr>
				<div class=row>
					<img src="http://media.boingboing.net/wp-content/uploads/2016/01/corgiswimflip.gif" class="col-xs-4">
					<h3 class="col-xs-6">David Liau</h3>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
