<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Home Screen</h1>
  </div>
</div>
<div class="container">
	<div class="row">
		<img src="http://popularpittsburgh.com/wp-content/uploads/2015/02/johnny-appleseed-article.jpg" class="col-xs-4">
		<div class="col-xs-8 text-center">
			<h2 class="row">Welcome, Johnny Appleseed!</h2>
			<a href="/stats" class="text-center">Stats</a>
			<hr>
			<a href="/leaderboards" class="text-center">Leaderboards</a>
			<hr>
			<a href="edit_profile" class="text-center">Edit My Profile</a>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="row">
			<h2 class="col-xs-5">Inventory:</h2>
			<h2 class="col-xs-5">My Friends:</h2>
		</div>

		<div class="col-xs-5 scrollbox">
				<div class=row>
					<img src="http://popularpittsburgh.com/wp-content/uploads/2015/02/johnny-appleseed-article.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Binoculars</h3>
				</div>
				<hr>
				<div class=row>
					<img src="http://popularpittsburgh.com/wp-content/uploads/2015/02/johnny-appleseed-article.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Binoculars</h3>
				</div>
				<hr>
				<div class=row>
					<img src="http://popularpittsburgh.com/wp-content/uploads/2015/02/johnny-appleseed-article.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Binoculars</h3>
				</div>
				<hr>
				<div class=row>
					<img src="http://popularpittsburgh.com/wp-content/uploads/2015/02/johnny-appleseed-article.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Binoculars</h3>
				</div>
				<hr>
				<div class=row>
					<img src="http://popularpittsburgh.com/wp-content/uploads/2015/02/johnny-appleseed-article.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Binoculars</h3>
				</div>
		</div>

		<div class="col-xs-5 scrollbox">
				<div class=row>
					<img src="http://popularpittsburgh.com/wp-content/uploads/2015/02/johnny-appleseed-article.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Binoculars</h3>
				</div>
				<hr>
				<div class=row>
					<img src="http://popularpittsburgh.com/wp-content/uploads/2015/02/johnny-appleseed-article.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Binoculars</h3>
				</div>
				<hr>
				<div class=row>
					<img src="http://popularpittsburgh.com/wp-content/uploads/2015/02/johnny-appleseed-article.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Binoculars</h3>
				</div>
				<hr>
				<div class=row>
					<img src="http://popularpittsburgh.com/wp-content/uploads/2015/02/johnny-appleseed-article.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Binoculars</h3>
				</div>
				<hr>
				<div class=row>
					<img src="http://popularpittsburgh.com/wp-content/uploads/2015/02/johnny-appleseed-article.jpg" class="col-xs-4">
					<h3 class="col-xs-6">Binoculars</h3>
				</div>
		</div>
	</div>
</div>
</body>
</html>
