<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Login Screen</h1>
    <div class="col-sm-8">
        <form action="/login" id="loginForm" method="POST"> <br>
            Username: <input id="user" type="text" name="username"><br><br>
            Password: <input id="password" type="password" name="password"><br><br>
            <input type="submit" name="login_form" value="Submit">
            <a  href="/signup" class="big_button row text-center">
    <h3>
      Sign-Up  
    </h3>
    </a>
        </form>
      </div>
  </div>
</div>

</body>
</html>
