<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  var user;
  var mission;

  socket.on('connect', function(){
    user = <%-JSON.stringify(user)%>;
    mission = <%-JSON.stringify(mission)%>;
  	var pack = {
  		'user': user,
  		'mission': mission
  	};

    $("#yourItems").html("<h2> Your Items: </h2>");
    for(var i=0; i< user.items.length; i++){
      $("#yourItems").append('<hr><button type="button" onclick="changeItem(\'' + user.items[i] + '\', true)">' + user.items[i] + '</button>');
    }
    $("#yourItems").append("<hr>");

    $("#groupItems").html("<h2> Mission Items To Submit: </h2>");
    for(var i=0; i< mission.items.length; i++){
      $("#groupItems").append('<hr><button type="button" onclick="changeItem(\'' + mission.items[i] + '\', false)">' + mission.items[i] + '</button>');
    }
    $("#groupItems").append("<hr>");

  	socket.emit('user info', pack);
  });

  socket.on('update users', function(missionU){
    if(missionU.name === mission.name){
      console.log(mission.users);
      mission.users = missionU.users; //sets local mission users variable
      $("#activeUsers").html("<h2> Active users on this Mission: </h2>");
      for(var i=0; i< mission.users.length; i++){
        $("#activeUsers").append("<hr><h3>"+mission.users[i]+"</h3>");
      }
      $("#activeUsers").append("<hr>");
    }
  });

  socket.on('update items', function(pack){
    mission.items = pack.mission.items;
    if(user.user === pack.user.user) //if the update came from the user, update him
      user.items = pack.user.items;

    $("#yourItems").html("<h2> Your Items: </h2>");
    for(var i=0; i< user.items.length; i++){
      $("#yourItems").append('<hr><button type="button" onclick="changeItem(\'' + user.items[i] + '\', true)">' + user.items[i] + '</button>');
    }
    $("#yourItems").append("<hr>");

    $("#groupItems").html("<h2> Mission Items To Submit: </h2>");
    for(var i=0; i< mission.items.length; i++){
      $("#groupItems").append('<hr><button type="button" onclick="changeItem(\'' + mission.items[i] + '\', false)">' + mission.items[i] + '</button>');
    }
    $("#groupItems").append("<hr>");

  });

  function changeItem(item, add){
    console.log(item);
    console.log(add);
    var pack = {
      'user': user,
      'mission': mission,
      'item': item,
      'add': add
    };
    socket.emit('change item', pack);
  }

</script>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1><%=mission.name%></h1>
  </div>
</div>
<div id="activeUsers" class="container">
</div>
<div id="yourItems" class="container">
</div>
<div id="groupItems" class="container">
</div>

</body>
</html>
