<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Mission Browser Screen</h1>
    <h2><a href="/mission">Mission 1</a></h2>
    <h2><a href="/mission">Mission 2</a></h2>
    <h2><a href="/mission">Mission 3</a></h2>
  </div>
</div>

</body>
</html>
