<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

  socket.on('connect', function(){
  	var pack = {
  		'user': <%-JSON.stringify(user.user)%>,
  		'mission': <%-JSON.stringify(mission)%>
  	};
  	
  	socket.emit('user info', pack);
  });

  socket.on('update users', function(users){
    console.log(users);
    $("#activeUsers").html("<h2> Active users on this Mission: </h2>");
    for(var i=0; i< users.length; i++){
      $("#activeUsers").append("<hr><h3>"+users[i]+"</h3>");
    }
    $("#activeUsers").append("<hr>");

  });

</script>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1><%=mission.name%></h1>
  </div>
</div>
<div id="activeUsers" class="container">
	
</div>

</body>
</html>
