<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Missions Near You:</h1>
  </div>
</div>
<div class="container">
  <% for(var i=0; i < missions.length; i++) {%>
    <hr>
    <a href="/mission/<%=missions[i].name%>" class="row">
      <img src="<%=missions[i].img%>" class="col-xs-4">
      <h2 class="col-xs-4"> <%= missions[i].name %> </h2>
    </a>
  <% } %>
  <hr>
</div>

</body>
</html>
