<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Missions Near You:</h1>
    <hr>
    <a href="/mission" class="row">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Geisel-Library.jpg" class="col-xs-4">
      <h2 class="col-xs-4"> The Geisel Labrynth </h2>
    </a>
    <hr>
    <a href="/mission" class="row">
      <img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/13-11-02-olb-by-RalfR-03.jpg" class="col-xs-4">
      <h2 class="col-xs-4"> Lasers and Books </h2>
    </a>
    <hr>
    <a href="/mission" class="row">
      <img src="http://library.ucsd.edu/dc/object/bb0035302c/_3.jpg" class="col-xs-4">
      <h2 class="col-xs-4"> The Revelle Runaway </h2>
    </a>
    <hr>
  </div>
</div>

</body>
</html>
