<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Sign-Up</h1>
      <form action="/signup" id="loginForm" method="POST"> <br>
          <p style="color:red;">Required values are marked by an asterisk (*)</p>
          Username: <input id="user" type="text" placeholder="Username*" name="username" required="required"><br><br>
          Password: <input id="password" type="password" placeholder="Password*" name="password" required="required"><br><br>
          Name: <input id="name" type="text" placeholder="John Doe*" name="name" required="required"> <br><br>
          Email: <input id="email" type="text" placeholder="johndoe@email.com"> <br> <br>
          Phone: <input id="phone" type="text" placeholder="XXX-XXX-XXXX"> <br> <br>
          <input type="submit" name="signup" value="Submit"> <br>
      </form>
    <form action="/login" id="loginForm" method="get"> <br>
        <input type="submit"   name="login_form" value="Play Now!"> <br>
    </form>
    <form action="/" id="home" method="get"> <br>
        <input type="submit" name="home_form" value="Home"> <br>
    </form>
  </div>
</div>

</body>
</html>
