<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Signup Screen</h1>
    	<div class="container" id="signUp">
    		<p>Required values are marked by an asterisk (*)</p>

    		<label> Username <br />
    			<input name="name" id="uName" placeholder="Username" required="required"/>
    		</label>
    		<label> Password <br />
    			<input name="name" id="pWord" placeholder="Password" required="required"/>
    		</label>
    		<label> Confirm Password <br />
    			<input name="name" id="pWord2" required="required"/>
    		</label>
        <label> Email (Optional) <br />
          <input name="name" id="email"  placeholder="johndoe@email.com"/>
        </label>
        <label> Phone Number (Optional) <br />
          <input name="name" id="phone"  placeholder="XXX-XXX-XXXX"/>
        </label>
    	</div>
    		<h2><a href="/home">Home</a></h2>
  </div>
</div>

</body>
</html>
