<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <div class="col-xs-12 text-center">
			<h3 class="col-xs-12 text-center" >Username</h2>
			<input id="user" type="text" name="username" ><br><br>
			<hr>
			<h3 class="col-xs-12 text-center" >Password</h2>
			<input id="user" type="text" name="username" ><br><br>
			<hr>
		</div>
    <h2><a href="/home">Home</a></h2>
  </div>
</div>

</body>
</html>
