<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Sign-Up</h1>
    	<fieldset id="signUp">
    		<p style="color:red;">Required values are marked by an asterisk (*)</p>

    		<label> Username:
    			<input name="name" id="uName" placeholder="Username*" required="required"/>
    		</label>
        <hr />
    		<label> Password: 
    			<input name="name" id="pWord" placeholder="Password*" required="required"/>
    		</label>
        <br />
    		<label> Confirm Password: 
      		<input name="name" id="pWord2" placeholder="Confirm Password*" required="required"/>
    		</label>
        <hr />
        <label> Email (Optional):
          <input name="name" id="email"  placeholder="johndoe@email.com"/>
        </label>
        <br />
        <label> Phone Number (Optional):
          <input name="name" id="phone"  placeholder="XXX-XXX-XXXX"/>
        </label>
        <hr />

    	 </fieldset>
    <h2><a href="/login">Play Now!</h2>

    <h2><a href="/">Home</a></h2>
  </div>
</div>

</body>
</html>
