<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <script>
  var user = <%-JSON.stringify(user)%>;
  console.log(user);

  $(document).ready(function(){
      $("mission_history").html("");
      for(var i=0; i< user.mission_history.length; i++){
        $("#mission_history").append('<hr><h2>' + user.mission_history[i] + '</h2>');
      }
      $("#mission_history").append("<hr>");

      $("#num_games").html("<h3>" + user.mission_history.length + "</h3>");
      $("#score").html("<h3>" + user.score + "</h3>");
  })
  </script>

  <div class="jumbotron text-center">
    <div class="container">
      <h1>Stats Screen</h1>
    </div>
  </div>

  <div class="row">
  		<div class="row" style="background-color:pink;">
  			<h2 class="col-xs-6 text-center">Games Played</h2>
  			<h2 class="col-xs-6 text-center">Score</h2>
  		</div>

      <div class="col-xs-6 text-center" id="num_games">
        
      </div>
      <div class="col-xs-6 text-center" id="score">
        
      </div>
  </div>

  <div class="row">
      <div class="row" style="background-color:blue;">
        <h2 class="col-xs-14 text-center">MISSION HISTORY</h2>
      </div>
      <div class="text-center" id="mission_history">
        
      </div>
  </div>

</body>
</html>
